# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "3255e7b7b7326e5400992277763ac063"
name = "stickyapps"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[app_proxy]
url = "https://example.com/proxy"
subpath = "Sticky"
prefix = "apps"